header {
  padding-top: 3.7rem;

  .main_logo {
    width: 37rem;
    height: 9.2rem;
    margin-right: 5.5rem;
  }

  .partners_logo {
    width: 13.5rem;
    height: 8.2rem;
    margin-right: 12rem;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}