.about {
    position: relative;
    margin-top: 3rem;
    min-height: 135.8rem;

    @media screen {
        @media (max-width: $mobile) {
            min-height: 53.6rem;
        }
    }

    &__description {
        padding-top: 13.6rem;
        @media screen {
            @media (max-width: $mobile) {
                padding-top: 0;
            }
        }

        .container {
            position: relative;
        }

        h1 {
            font-size: 24rem;
            font-weight: 700;
            text-transform: uppercase;
            @media screen {
                @media (max-width: $mobile) {
                    font-size: 6.9rem;
                }
            }
        }

        h2 {
            font-size: 8.4rem;
            font-weight: 500;
            text-transform: uppercase;
            @media screen {
                @media (max-width: $mobile) {
                    font-size: 2.6rem;
                }
            }
        }

        .date {
            margin-top: 8rem;
            display: flex;
            align-items: flex-start;
            font-size: 13rem;
            font-weight: 700;

            @media screen {
                @media (max-width: $mobile) {
                    font-size: 4.2rem;
                    margin-top: 23rem;
                }
            }

            small {
                font-family: "Parangon 330", sans-serif;
                font-size: 7rem;
                font-weight: 400;
                margin: 1rem 0 0 1rem;
                @media screen {
                    @media (max-width: $mobile) {
                        font-size: 1.6rem;
                        margin: 0 0 0 .2rem;
                    }
                }
            }
        }

        .city {
            font-size: 7rem;
            font-weight: 500;
            @media screen {
                @media (max-width: $mobile) {
                    font-size: 2.2rem;
                }
            }
        }
    }
    .invite__form {
        margin-top: 5.3rem;
        @media screen {
            @media (max-width: $mobile) {
                margin-top: 0;
                position: absolute;
                top: 15.5rem;
                text-align: left;
            }
        }

        &__about {
            margin-top: 7rem;
            text-align: left;
            @media screen {
                @media (max-width: $mobile) {
                    margin-top: 2rem;
                    padding-right: var(--container-padding);
                }
            }
        }
    }
    .africa {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 163.9rem;
        height: 135.8rem;
        background: url("/images/africa.png") no-repeat;
        background-size: contain;
        background-position-x: 33rem;

        @media screen {
            @media (max-width: $mobile) {
                width: 64.7rem;
                height: 53.6rem;
                background-position-x: 13rem;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .green_blur {
        width: 111.4rem;
        height: 111.4rem;
        position: absolute;
        bottom: 7rem;
        left: -23.3rem;
        background: radial-gradient(50% 50% at 50% 50%, rgba(47, 255, 199, 0.8) 0%, rgba(18, 58, 43, 0) 100%);
        filter: blur(250px);
        z-index: -1;
        @media screen {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

}
