.invite {
    padding-top: 19rem;
    padding-bottom: 4rem;
    @media screen {
        @media (max-width: $mobile) {
            padding: 0;
        }
    }

    &__description {
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 3.7rem;
        @media screen {
            @media (max-width: $mobile) {
                padding: 0;
                flex-direction: column;
            }
        }
    }

    &__text_how {
        padding-top: 2.7rem;
        width: 82rem;
        font-weight: 400;

        @media screen {
            @media (max-width: $mobile) {
                width: 100%;
                padding: 0;
            }
        }

        p:nth-child(1) {
            line-height: 1.2;
            letter-spacing: .1rem;
        }

        p:nth-child(2) {
            margin-top: 5rem;
            font-weight: 700;
            font-size: 4.8rem;
            line-height: 1.3;

            @media screen {
                @media (max-width: $mobile) {
                    margin-top: 2rem;
                    font-size: 1.6rem;
                }
            }

            span {
                color: #F39C11;
            }
        }
    }

    &__form {
        width: 66.7rem;
        text-align: center;

        @media screen {
            @media (max-width: $mobile) {
                width: auto;
                margin-top: 4.2rem;
                margin-bottom: 3rem;
            }
        }

        form {
            margin-bottom: 1.6rem;
        }
    }
}
