header {
    .language {
        font-size: 2.6rem;
        margin-left: 5rem;

        @media screen {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        li {
            padding: 0 3.5rem;
            border-bottom: .1rem solid var(--color-border-brown);

            &:nth-child(1) {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            color: var(--color-white);
            text-decoration: none;
            display: block;
            padding: 1.5rem 0;
            border-bottom: .2rem solid transparent;
            font-family: "Parangon 420", sans-serif;
            text-transform: uppercase;

            &:hover {
                border-bottom: .2rem solid var(--color-border-brown);
            }
        }
    }

    .menu {
        &__list {
            @media screen {
                @media (max-width: $mobile) {
                    display: none;
                }
            }
            font-size: 2.6rem;
            display: flex;

            li {
                padding: 0 2rem;
                border-bottom: .1rem solid var(--color-border-brown);

                &:nth-child(1) {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            a {
                color: var(--color-white);
                text-decoration: none;
                display: block;
                padding: 1.5rem 0;
                border-bottom: .2rem solid transparent;
                font-family: "Parangon 420", sans-serif;

                &:hover {
                    border-bottom: .2rem solid var(--color-border-brown);
                }
            }

        }
    }

    .mobil_action {
        display: none;
        @media screen {
            @media (max-width: $mobile) {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 1.7rem var(--container-padding);

                &__wrapper {
                    display: flex;
                    align-items: center;
                    height: 2.7rem;
                    a {
                        color: var(--color-white);
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 2rem;
                        line-height: 0;
                    }
                    .lang {
                        margin-right: 2.4rem;
                        padding-top: .5rem;
                    }
                    .open_menu {
                        width: 2rem;
                        height: 1.5rem;
                        background: url("/images/m_menu.svg") no-repeat;
                        background-size: contain;
                    }
                }

            }
        }
    }

    &.open {
        .open_menu {
            background: url("/images/m_menu_close.svg") no-repeat;
            background-size: contain;
        }
    }

}
