.mission {
    margin-top: 14rem;
    position: relative;
    background: url("/images/mission_black_bg.svg") no-repeat;
    background-size: 100vw;

    padding-bottom: 15rem;

    @media screen {
        @media (max-width: $mobile) {
            margin-top: 6.4rem;
            padding-bottom: 9.7rem;
        }
    }

    .red_square {
        @media screen {
            @media (max-width: $mobile) {
                width: 100%;
                height: 30rem;
            }
        }
        position: absolute;
        top: 0;
        right: 0;
        width: 140.4rem;
        height: 99.9rem;
        background: radial-gradient(50% 50% at 50% 50%, rgba(246, 131, 131, 0.6) 0%, rgba(229, 120, 73, 0.6) 100%);
        filter: blur(250px);
        z-index: -1;
    }

    .red_icon {
        @media screen {
            @media (max-width: $mobile) {
                width: 9.8rem;
                height: 9.8rem;
                top: 0rem;
                right: auto;
                left: 0rem;
                transform: rotate(20deg);
            }
        }
        width: 57rem;
        height: 57rem;
        position: absolute;
        top: -5rem;
        right: 10rem;
        z-index: 1001;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .news_title {
        margin: 0;
        @media screen {
            @media (max-width: $mobile) {
                margin-top: 6.4rem;
                padding: 0 var(--container-padding);
                display: block;
                text-align: right;
            }
        }
    }
    &__description {

        p {
            width: 96.6rem;
            margin-top: 6rem;
            @media screen {
                @media (max-width: $mobile) {
                    width: 100%;
                    margin-top: 0;
                }
            }
        }
    }

    &__gallery {

        width: 100%;
        height: 111.4rem;
        border-top: .1rem solid var(--color-border-brown);

        @media screen {
            @media (max-width: $mobile) {
                height: 22rem;
            }
        }

        &__wrapper {
            margin-top: 10rem;
            @media screen {
                @media (max-width: $mobile) {
                    margin-top: 2rem;
                }
            }
        }

        .mission__element {
            width: 100%;
            height: 100%;
            position: relative;

            &__image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.16%, #000000 95.74%);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &__describe {
                @media screen {
                    @media (max-width: $mobile) {
                        padding: 0 var(--container-padding) 1.9rem;
                    }
                }
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 14.6rem var(--container-padding);

                h3 {
                    @media screen {
                        @media (max-width: $mobile) {
                            display: none;
                        }
                    }
                }

                p {
                    margin-top: 5rem;
                    width: 105.5rem;
                    line-height: 1.24;
                    font-size: 4rem;

                    @media screen {
                        @media (max-width: $mobile) {
                            margin-top: 0;
                            width: 100%;
                            font-size: 1.4rem;
                            line-height: 1.21;
                        }
                    }
                }
            }

        }

    }

}
