.program_festival {
    margin-top: 22rem;
    position: relative;
    @media screen {
        @media (max-width: $mobile) {
            margin-top: 0;
        }
    }

    .red_icon {
        width: 57rem;
        height: 57rem;
        position: absolute;
        top: -30.5rem;
        left: -6rem;
        z-index: 1001;

        @media screen {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__border {
        width: 100%;
        height: 6.4rem;

        @media screen {
            @media (max-width: $mobile) {
                height: 1.4rem;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__description {
        h3 {
            text-align: right;
            margin-bottom: 6.2rem;
            @media screen {
                @media (max-width: $mobile) {
                    display: none;
                }
            }
        }
    }

    &__element {
        margin-bottom: 13.9rem;
        @media screen {
            @media (max-width: $mobile) {
                margin-bottom: 0;
            }
        }

        .element {
            margin-bottom: 7.2rem;
            @media screen {
                @media (max-width: $mobile) {
                    margin-bottom: 0;
                }
            }
        }

        .no_margin {
            &__top {
                margin-top: 0 !important;
            }
            &__bottom {
                margin-bottom: 0 !important;
            }
        }

        .text-orange {
            color: var(--color-orange);
        }

        .element__title {
            font-size: 9rem;
            font-weight: 400;
            line-height: 1.3;
            text-transform: uppercase;
            margin-top: 7.2rem;

            @media screen {
                @media (max-width: $mobile) {
                    font-size: 2.2rem;
                    margin-top: 0;
                }
            }

            &__sub {
                margin-top: 4rem;
                font-size: 5rem;
                font-weight: 500;

                .no_bold {
                    font-weight: 300;
                }
            }
        }

        .element__event_data,
        .element__curator,
        .element__durations {
            margin-top: 3rem;
            font-size: 4rem;
            line-height: 1.2;
        }

        .element__curator {
            margin-top: 3rem;
            font-size: 4rem;
            line-height: 1.2;
        }

        .element__list__title {
            margin-top: 3rem;
            margin-bottom: 3rem;
            font-size: 3.5rem;
            font-weight: 500;
        }

        .element__list {
            padding-left: 10rem;
            li {
                margin-top: 1.8rem;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 3rem;
                    height: 3.2rem;
                    position: absolute;
                    top: 50%;
                    left: -3.6rem;
                    margin-top: -1.6rem;
                    background: url("/images/list_dot.svg") no-repeat center center;
                    background-size: contain;
                    @media screen {
                        @media (max-width: $mobile) {
                            top: 50%;
                            margin-top: -0.6rem;
                            left: -1.6rem;
                            width: 0.8rem;
                            height: 0.8rem;
                        }
                    }
                }
            }
        }

        .element__description {
            font-size: 4rem;
            font-weight: 300;
            margin-top: 2.5rem;
            line-height: 1.3;
            @media screen {
                @media (max-width: $mobile) {
                    font-size: 1.6rem;
                    margin-top: 1.2rem;
                }
            }
        }

    }


    .movies_wrapper,
    .music_wrapper {
        padding-left: var(--container-padding);
        margin-bottom: 7.2rem;
        position: relative;
        @media screen {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        .swiper-pagination {
            bottom: -5rem;

            .swiper-pagination-bullet-active {
                background: #F39C11;
            }

            .swiper-pagination-bullet {
                border: .2rem solid #F3DE66;
                opacity: 1;
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }

    .photos_wrapper {
        margin-bottom: 7.2rem;
        @media screen {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    &__gallery {
        &.movies {
            .swiper-slide {
                width: 30rem;
                height: 44.4rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &.music {
            .swiper-slide {
                width: 40.3rem;
                height: 40rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        &.photos {
            .swiper-slide {
                width: 120rem;
                height: 90rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 6rem;
                }
            }
        }
    }

}
