.program {
    @media screen {
        @media (max-width: $mobile) {
            background: var(--color-black);
            padding: 6.4rem 0 0 0;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
        }
    }

    background: url("/images/program_bg_bottom.svg") no-repeat;
    background-size: 130vw;
    background-position-y: 30rem;
    background-position-x: center;
    position: relative;
    padding-top: 10.8rem;
    padding-bottom: 23.8rem;
    border-top-left-radius: 14rem;
    border-top-right-radius: 14rem;
    box-shadow: 0px -10rem 19rem -5rem rgba(243, 156, 17, 0.5);


    &__information {
        h3 {
            text-align: right;
            @media screen {
                @media (max-width: $mobile) {
                    text-align: left;
                }
            }
        }

        &__row {
            margin-top: 8rem;

            @media screen {
                @media (max-width: $mobile) {
                    margin-top: 2.4rem;
                }
            }

            .program__header {
                width: 100%;
                height: 6.4rem;

                @media screen {
                    @media (max-width: $mobile) {
                        height: 1.4rem;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .program__subsection {
                margin-top: 5rem;
            }

            .program__title {
                margin-top: 8rem;
                font-size: 9rem;
                font-weight: 300;
                text-transform: uppercase;
                @media screen {
                    @media (max-width: $mobile) {
                        font-size: 2.2rem;
                        margin-top: 2.4rem;
                    }
                }

                &_sub {
                    margin-top: 4rem;
                    font-size: 4rem;
                    color: var(--color-orange);
                    font-weight: 500;
                    @media screen {
                        @media (max-width: $mobile) {
                        }
                    }
                }
            }

            .program__curator {
                font-size: 3.5rem;
                margin-top: 3rem;
            }

            .program__description {
                font-size: 4rem;
                font-weight: 300;
                margin-top: 3rem;
                @media screen {
                    @media (max-width: $mobile) {
                        font-size: 1.6rem;
                        margin-top: 1.2rem;
                    }
                }
            }

            .program__members {
                margin-top: 3rem;
                margin-bottom: 3rem;

                &__title {
                    font-size: 3.5rem;
                    font-weight: 500;
                }

                &__list {
                    padding-left: 10rem;

                    li {
                        margin-top: 1.8rem;
                        font-size: 3.5rem;
                        position: relative;

                        &:before {
                            content: '';
                            display: block;
                            width: 3rem;
                            height: 3.2rem;
                            position: absolute;
                            top: 50%;
                            left: -3.6rem;
                            margin-top: -1.6rem;
                            background: url("/images/list_dot.svg") no-repeat center center;
                            background-size: contain;
                            @media screen {
                                @media (max-width: $mobile) {
                                    top: 50%;
                                    margin-top: -0.6rem;
                                    left: -1.6rem;
                                    width: 0.8rem;
                                    height: 0.8rem;
                                }
                            }
                        }
                    }
                }
            }

            .program__list {
                margin-top: 4rem;
                padding-left: 10rem;

                @media screen {
                    @media (max-width: $mobile) {
                        padding-left: 3.5rem;
                        margin-top: 1.2rem;
                    }
                }

                li {
                    margin-top: 1.8rem;
                    position: relative;
                    @media screen {
                        @media (max-width: $mobile) {
                            margin-top: .1rem;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: var(--color-orange);

                        &:hover {
                            color: var(--color-white);

                        }
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 3rem;
                        height: 3.2rem;
                        position: absolute;
                        top: 50%;
                        left: -3.6rem;
                        margin-top: -1.6rem;
                        background: url("/images/list_dot.svg") no-repeat center center;
                        background-size: contain;
                        @media screen {
                            @media (max-width: $mobile) {
                                top: 50%;
                                margin-top: -0.6rem;
                                left: -1.6rem;
                                width: 0.8rem;
                                height: 0.8rem;
                            }
                        }
                    }

                    p {
                        font-weight: 300;
                    }
                }
            }
        }

    }

    &__top_image {
        position: absolute;
        bottom: calc(15rem - 35.1rem);
        left: 0;
        z-index: -1;
        width: 93.5rem;
        height: 35.1rem;

        @media screen {
            @media (max-width: $mobile) {
                width: 16.7rem;
                height: 6.4rem;
                z-index: 1;
                top: auto;
                left: auto;
                right: 1rem;
                bottom: -6.2rem;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bottom_image {
        position: absolute;
        bottom: 0;
        right: var(--container-padding);
        z-index: -1;
        width: 81rem;
        height: 34rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

}
