@font-face {
  font-family: 'Parangon';
  src: url('../fonts/PARANGON320C.eot');
  src: url('../fonts/PARANGON320C.eot') format('embedded-opentype'),
  url('../fonts/PARANGON320C.woff2') format('woff2'),
  url('../fonts/PARANGON320C.woff') format('woff'),
  url('../fonts/PARANGON320C.ttf') format('truetype'),
  url('../fonts/PARANGON320C.svg#PARANGON320C') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon 330';
  src: url('../fonts/PARANGON330C.eot');
  src: url('../fonts/PARANGON330C.eot') format('embedded-opentype'),
  url('../fonts/PARANGON330C.woff2') format('woff2'),
  url('../fonts/PARANGON330C.woff') format('woff'),
  url('../fonts/PARANGON330C.ttf') format('truetype'),
  url('../fonts/PARANGON330C.svg#PARANGON330C') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon 420';
  src: url('../fonts/PARANGON420C.eot');
  src: url('../fonts/PARANGON420C.eot') format('embedded-opentype'),
  url('../fonts/PARANGON420C.woff2') format('woff2'),
  url('../fonts/PARANGON420C.woff') format('woff'),
  url('../fonts/PARANGON420C.ttf') format('truetype'),
  url('../fonts/PARANGON420C.svg#PARANGON420C') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/PARANGON430C.eot');
  src: url('../fonts/PARANGON430C.eot') format('embedded-opentype'),
  url('../fonts/PARANGON430C.woff2') format('woff2'),
  url('../fonts/PARANGON430C.woff') format('woff'),
  url('../fonts/PARANGON430C.ttf') format('truetype'),
  url('../fonts/PARANGON430C.svg#PARANGON430C') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon 510';
  src: url('../fonts/Parangon510C.eot');
  src: local('Parangon 510C'), local('Parangon510C'),
  url('../fonts/Parangon510C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon510C.woff2') format('woff2'),
  url('../fonts/Parangon510C.woff') format('woff'),
  url('../fonts/Parangon510C.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon530C.eot');
  src: local('Parangon 530C'), local('Parangon530C'),
  url('../fonts/Parangon530C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon530C.woff2') format('woff2'),
  url('../fonts/Parangon530C.woff') format('woff'),
  url('../fonts/Parangon530C.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;









/*  |-----------------------------------
    | OLDEST
    |-----------------------------------

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon130C.eot');
  src: local('Parangon 130C'), local('Parangon130C'),
  url('../fonts/Parangon130C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon130C.woff2') format('woff2'),
  url('../fonts/Parangon130C.woff') format('woff'),
  url('../fonts/Parangon130C.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon230C.eot');
  src: local('Parangon 230C'), local('Parangon230C'),
  url('../fonts/Parangon230C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon230C.woff2') format('woff2'),
  url('../fonts/Parangon230C.woff') format('woff'),
  url('../fonts/Parangon230C.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/../fonts/Parangon330C.eot');
  src: local('Parangon 330C'), local('Parangon330C'),
  url('../fonts/../fonts/Parangon330C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon330C.woff2') format('woff2'),
  url('../fonts/Parangon330C.woff') format('woff'),
  url('../fonts/Parangon330C.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon430C.eot');
  src: local('Parangon 430C'), local('Parangon430C'),
  url('../fonts/Parangon430C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon430C.woff2') format('woff2'),
  url('../fonts/Parangon430C.woff') format('woff'),
  url('../fonts/Parangon430C.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon530C.eot');
  src: local('Parangon 530C'), local('Parangon530C'),
  url('../fonts/Parangon530C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon530C.woff2') format('woff2'),
  url('../fonts/Parangon530C.woff') format('woff'),
  url('../fonts/Parangon530C.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
*/