
//
//@font-face {
//  font-family: 'Parangon 420C';
//  src: url('../fonts/Parangon420C.eot');
//  src: local('Parangon 420C'), local('Parangon420C'),
//  url('../fonts/Parangon420C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon420C.woff2') format('woff2'),
//  url('../fonts/Parangon420C.woff') format('woff'),
//  url('../fonts/Parangon420C.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 120C';
//  src: url('../fonts/Parangon120C.eot');
//  src: local('Parangon 120C'), local('Parangon120C'),
//  url('../fonts/Parangon120C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon120C.woff2') format('woff2'),
//  url('../fonts/Parangon120C.woff') format('woff'),
//  url('../fonts/Parangon120C.ttf') format('truetype');
//  font-weight: 200;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 410C';
//  src: url('../fonts/Parangon410C.eot');
//  src: local('Parangon 410C'), local('Parangon410C'),
//  url('../fonts/Parangon410C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon410C.woff2') format('woff2'),
//  url('../fonts/Parangon410C.woff') format('woff'),
//  url('../fonts/Parangon410C.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 110C';
//  src: url('../fonts/Parangon110C.eot');
//  src: local('Parangon 110C'), local('Parangon110C'),
//  url('../fonts/Parangon110C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon110C.woff2') format('woff2'),
//  url('../fonts/Parangon110C.woff') format('woff'),
//  url('../fonts/Parangon110C.ttf') format('truetype');
//  font-weight: 200;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 210C';
//  src: url('../fonts/Parangon210C.eot');
//  src: local('Parangon 210C'), local('Parangon210C'),
//  url('../fonts/Parangon210C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon210C.woff2') format('woff2'),
//  url('../fonts/Parangon210C.woff') format('woff'),
//  url('../fonts/Parangon210C.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 320C';
//  src: url('../fonts/Parangon320C.eot');
//  src: local('Parangon 320C'), local('Parangon320C'),
//  url('../fonts/Parangon320C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon320C.woff2') format('woff2'),
//  url('../fonts/Parangon320C.woff') format('woff'),
//  url('../fonts/Parangon320C.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 310C';
//  src: url('../fonts/Parangon310C.eot');
//  src: local('Parangon 310C'), local('Parangon310C'),
//  url('../fonts/../fonts/Parangon310C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/../fonts/Parangon310C.woff2') format('woff2'),
//  url('../fonts/../fonts/Parangon310C.woff') format('woff'),
//  url('../fonts/../fonts/Parangon310C.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 520C';
//  src: url('../fonts/../fonts/Parangon520C.eot');
//  src: local('Parangon 520C'), local('Parangon520C'),
//  url('../fonts/../fonts/Parangon520C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/../fonts/Parangon520C.woff2') format('woff2'),
//  url('../fonts/../fonts/Parangon520C.woff') format('woff'),
//  url('../fonts/../fonts/Parangon520C.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}
//
//
//
//@font-face {
//  font-family: 'Parangon 220C';
//  src: url('../fonts/Parangon220C.eot');
//  src: local('Parangon 220C'), local('Parangon220C'),
//  url('../fonts/Parangon220C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon220C.woff2') format('woff2'),
//  url('../fonts/Parangon220C.woff') format('woff'),
//  url('../fonts/Parangon220C.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 430C';
//  src: url('../fonts/Parangon430C.eot');
//  src: local('Parangon 430C'), local('Parangon430C'),
//  url('../fonts/Parangon430C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon430C.woff2') format('woff2'),
//  url('../fonts/Parangon430C.woff') format('woff'),
//  url('../fonts/Parangon430C.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}
//
//
//@font-face {
//  font-family: 'Parangon 530C';
//  src: url('../fonts/Parangon530C.eot');
//  src: local('Parangon 530C'), local('Parangon530C'),
//  url('../fonts/Parangon530C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon530C.woff2') format('woff2'),
//  url('../fonts/Parangon530C.woff') format('woff'),
//  url('../fonts/Parangon530C.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Parangon 510C';
//  src: url('../fonts/Parangon510C.eot');
//  src: local('Parangon 510C'), local('Parangon510C'),
//  url('../fonts/Parangon510C.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Parangon510C.woff2') format('woff2'),
//  url('../fonts/Parangon510C.woff') format('woff'),
//  url('../fonts/Parangon510C.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}



@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon130C.eot');
  src: local('Parangon 130C'), local('Parangon130C'),
  url('../fonts/Parangon130C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon130C.woff2') format('woff2'),
  url('../fonts/Parangon130C.woff') format('woff'),
  url('../fonts/Parangon130C.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon230C.eot');
  src: local('Parangon 230C'), local('Parangon230C'),
  url('../fonts/Parangon230C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon230C.woff2') format('woff2'),
  url('../fonts/Parangon230C.woff') format('woff'),
  url('../fonts/Parangon230C.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/../fonts/Parangon330C.eot');
  src: local('Parangon 330C'), local('Parangon330C'),
  url('../fonts/../fonts/Parangon330C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon330C.woff2') format('woff2'),
  url('../fonts/Parangon330C.woff') format('woff'),
  url('../fonts/Parangon330C.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon430C.eot');
  src: local('Parangon 430C'), local('Parangon430C'),
  url('../fonts/Parangon430C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon430C.woff2') format('woff2'),
  url('../fonts/Parangon430C.woff') format('woff'),
  url('../fonts/Parangon430C.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon530C.eot');
  src: local('Parangon 530C'), local('Parangon530C'),
  url('../fonts/Parangon530C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon530C.woff2') format('woff2'),
  url('../fonts/Parangon530C.woff') format('woff'),
  url('../fonts/Parangon530C.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
