:root {
  --font-size: 0.52vw;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-border-brown: #EDE0D3;
  --color-orange: #F39C11;
  --container-padding: 19rem;
}
@media screen and (max-width: 768px) {
  :root {
    --container-padding: 1.6rem;
  }
}

html {
  width: 100%;
  font-size: var(--font-size);
  line-height: 1.1153846154;
  scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 2.77vw;
  }
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html body {
  width: 100%;
  min-height: 100vw;
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Parangon", sans-serif;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {
  html body {
    font-size: 1.6rem;
    line-height: 1.22;
  }
}
html body h3 {
  font-size: 14rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  html body h3 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
}
html body .container {
  width: 100%;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
html body .icon__link {
  width: 100%;
  height: 100%;
}
html body .icon__link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@font-face {
  font-family: "Parangon";
  src: url("../fonts/Parangon320C.eot");
  src: local("Parangon 320C"), local("Parangon320C"), url("../fonts/Parangon320C.eot?#iefix") format("embedded-opentype"), url("../fonts/Parangon320C.woff2") format("woff2"), url("../fonts/Parangon320C.woff") format("woff"), url("../fonts/Parangon320C.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Parangon 330";
  src: url("../fonts/Parangon330C.eot");
  src: local("Parangon 330C"), local("Parangon330C"), url("../fonts/Parangon330C.eot?#iefix") format("embedded-opentype"), url("../fonts/Parangon330C.woff2") format("woff2"), url("../fonts/Parangon330C.woff") format("woff"), url("../fonts/Parangon330C.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Parangon 420";
  src: url("../fonts/Parangon420C.eot");
  src: local("Parangon 420C"), local("Parangon420C"), url("../fonts/Parangon420C.eot?#iefix") format("embedded-opentype"), url("../fonts/Parangon420C.woff2") format("woff2"), url("../fonts/Parangon420C.woff") format("woff"), url("../fonts/Parangon420C.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Parangon";
  src: url("../fonts/Parangon430C.eot");
  src: local("Parangon 430C"), local("Parangon430C"), url("../fonts/Parangon430C.eot?#iefix") format("embedded-opentype"), url("../fonts/Parangon430C.woff2") format("woff2"), url("../fonts/Parangon430C.woff") format("woff"), url("../fonts/Parangon430C.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Parangon 510";
  src: url("../fonts/Parangon510C.eot");
  src: local("Parangon 510C"), local("Parangon510C"), url("../fonts/Parangon510C.eot?#iefix") format("embedded-opentype"), url("../fonts/Parangon510C.woff2") format("woff2"), url("../fonts/Parangon510C.woff") format("woff"), url("../fonts/Parangon510C.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Parangon";
  src: url("../fonts/Parangon530C.eot");
  src: local("Parangon 530C"), local("Parangon530C"), url("../fonts/Parangon530C.eot?#iefix") format("embedded-opentype"), url("../fonts/Parangon530C.woff2") format("woff2"), url("../fonts/Parangon530C.woff") format("woff"), url("../fonts/Parangon530C.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*  |-----------------------------------
    | OLDEST
    |-----------------------------------

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon130C.eot');
  src: local('Parangon 130C'), local('Parangon130C'),
  url('../fonts/Parangon130C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon130C.woff2') format('woff2'),
  url('../fonts/Parangon130C.woff') format('woff'),
  url('../fonts/Parangon130C.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon230C.eot');
  src: local('Parangon 230C'), local('Parangon230C'),
  url('../fonts/Parangon230C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon230C.woff2') format('woff2'),
  url('../fonts/Parangon230C.woff') format('woff'),
  url('../fonts/Parangon230C.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/../fonts/Parangon330C.eot');
  src: local('Parangon 330C'), local('Parangon330C'),
  url('../fonts/../fonts/Parangon330C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon330C.woff2') format('woff2'),
  url('../fonts/Parangon330C.woff') format('woff'),
  url('../fonts/Parangon330C.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon430C.eot');
  src: local('Parangon 430C'), local('Parangon430C'),
  url('../fonts/Parangon430C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon430C.woff2') format('woff2'),
  url('../fonts/Parangon430C.woff') format('woff'),
  url('../fonts/Parangon430C.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Parangon';
  src: url('../fonts/Parangon530C.eot');
  src: local('Parangon 530C'), local('Parangon530C'),
  url('../fonts/Parangon530C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Parangon530C.woff2') format('woff2'),
  url('../fonts/Parangon530C.woff') format('woff'),
  url('../fonts/Parangon530C.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
*/
.btn-link {
  text-decoration: underline;
}
.btn-link:hover {
  text-decoration: none;
}
.btn-link-default {
  color: #F39C11;
}
.btn-link-white {
  color: white;
}
.btn.registration {
  background: rgba(243, 156, 17, 0.87);
  width: 66.7rem;
  height: 17.2rem;
  border-radius: 4.2rem;
  border: none;
  font-family: "Parangon", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  text-transform: uppercase;
  color: #9A6613;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn.registration {
    width: 28.3rem;
    height: 7.3rem;
    font-size: 2.5rem;
    border-radius: 1.7rem;
  }
}
.btn.registration::before {
  content: "";
  display: block;
  width: 100%;
  height: 5.8rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/images/btn_register_border.svg");
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .btn.registration::before {
    height: 2rem;
  }
}
.btn.registration::after {
  content: "";
  display: block;
  width: 100%;
  height: 5.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/images/btn_register_border.svg");
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .btn.registration::after {
    height: 2.5rem;
  }
}

header {
  padding-top: 3.7rem;
}
@media screen and (max-width: 768px) {
  header {
    padding: 1.7rem 0;
  }
}
header .main_logo {
  width: 37rem;
  height: 9.2rem;
  margin-right: 5.5rem;
}
@media screen and (max-width: 768px) {
  header .main_logo {
    width: 10.9rem;
    height: 2.7rem;
    margin-right: 2rem;
  }
}
header .partners_logo {
  width: 13.5rem;
  height: 8.2rem;
  margin-right: 12rem;
}
@media screen and (max-width: 768px) {
  header .partners_logo {
    width: 4.6rem;
    height: 2.8rem;
  }
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .language {
  font-size: 2.6rem;
  margin-left: 5rem;
}
header .language li {
  padding: 0 3.5rem;
  border-bottom: 0.1rem solid var(--color-border-brown);
}
header .language li:nth-child(1) {
  padding-left: 0;
}
header .language li:last-child {
  padding-right: 0;
}
header .language a {
  color: var(--color-white);
  text-decoration: none;
  display: block;
  padding: 1.5rem 0;
  border-bottom: 0.2rem solid transparent;
  font-family: "Parangon 420", sans-serif;
  text-transform: uppercase;
}
header .language a:hover {
  border-bottom: 0.2rem solid var(--color-border-brown);
}
header .menu__list {
  font-size: 2.6rem;
  display: flex;
}
@media screen and (max-width: 768px) {
  header .menu__list {
    display: none;
  }
}
header .menu__list li {
  padding: 0 2rem;
  border-bottom: 0.1rem solid var(--color-border-brown);
}
header .menu__list li:nth-child(1) {
  padding-left: 0;
}
header .menu__list li:last-child {
  padding-right: 0;
}
header .menu__list a {
  color: var(--color-white);
  text-decoration: none;
  display: block;
  padding: 1.5rem 0;
  border-bottom: 0.2rem solid transparent;
  font-family: "Parangon 420", sans-serif;
}
header .menu__list a:hover {
  border-bottom: 0.2rem solid var(--color-border-brown);
}

footer {
  padding: 6rem 0;
  border-top: 0.1rem solid var(--color-border-brown);
}
@media screen and (max-width: 768px) {
  footer {
    padding: 1rem 0;
  }
}
footer .footer_wrapper {
  font-size: 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper {
    font-size: 1.6rem;
    flex-direction: column;
  }
}
footer .footer_wrapper .partners .icon {
  display: block;
  width: 8.1rem;
  height: 4.9rem;
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper .partners .icon {
    width: 4.6rem;
    height: 2.8rem;
  }
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper .title {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper .email {
    margin-top: 1rem;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper .social {
    margin-top: 1rem;
  }
}
footer .footer_wrapper .social ul {
  display: flex;
  align-items: center;
}
footer .footer_wrapper .social ul li {
  margin-right: 2.4rem;
}
footer .footer_wrapper .social ul li:last-child {
  margin-right: 0;
}
footer .footer_wrapper .social ul li a {
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-border-brown);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper .social ul li a {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.1rem solid var(--color-border-brown);
  }
}
footer .footer_wrapper .social ul li a img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper .social ul li a img {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.about {
  position: relative;
  margin-top: 3rem;
  min-height: 135.8rem;
}
@media screen and (max-width: 768px) {
  .about {
    min-height: auto;
  }
}
.about__description {
  padding-top: 13.6rem;
}
@media screen and (max-width: 768px) {
  .about__description {
    padding-top: 0;
  }
}
.about__description h1 {
  font-size: 24rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .about__description h1 {
    font-size: 6.9rem;
  }
}
.about__description h2 {
  font-size: 8.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .about__description h2 {
    font-size: 2.6rem;
  }
}
.about__description .date {
  margin-top: 8rem;
  display: flex;
  align-items: flex-start;
  font-size: 13rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .about__description .date {
    font-size: 4.2rem;
    margin-top: 23rem;
  }
}
.about__description .date small {
  font-family: "Parangon 330", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 1.5rem 0 0 1.5rem;
}
@media screen and (max-width: 768px) {
  .about__description .date small {
    font-size: 1.6rem;
    margin: 0 0 0 0.2rem;
  }
}
.about__description .city {
  font-size: 7rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .about__description .city {
    font-size: 2.2rem;
  }
}
.about .africa {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 126rem;
  height: 135rem;
}
@media screen and (max-width: 768px) {
  .about .africa {
    width: 50rem;
    height: 53rem;
  }
}
.about .africa img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about .green_blur {
  width: 85rem;
  height: 85rem;
  position: absolute;
  bottom: -6rem;
  left: -6rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(47, 255, 199, 0.8) 0%, rgba(18, 58, 43, 0) 100%);
  filter: blur(250px);
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .about .green_blur {
    display: none;
  }
}

.festival {
  position: relative;
}
@media screen and (max-width: 768px) {
  .festival {
    padding: 6.4rem var(--container-padding) 29rem;
  }
}
.festival__left_background {
  position: absolute;
  top: -11rem;
  left: 0;
  height: 168rem;
}
@media screen and (max-width: 768px) {
  .festival__left_background {
    top: 22rem;
    letter-spacing: 0;
    width: 100%;
    height: 50rem;
  }
}
.festival__left_background img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.festival__container {
  display: flex;
  justify-content: flex-end;
}
.festival__description {
  width: calc(102rem + var(--container-padding));
}
@media screen and (max-width: 768px) {
  .festival__description {
    width: 100%;
  }
}
.festival__description h3 {
  padding-right: var(--container-padding);
}
.festival__description p {
  padding-left: 18.1rem;
  padding-top: 6rem;
  padding-right: var(--container-padding);
}
@media screen and (max-width: 768px) {
  .festival__description p {
    padding: 0;
  }
}
.festival .gallery_wrapper {
  padding-left: 18.1rem;
  margin-top: 8rem;
}
@media screen and (max-width: 768px) {
  .festival .gallery_wrapper {
    display: none;
  }
}
.festival__swiper {
  width: 100%;
  height: 48rem;
}
.festival__swiper .swiper-slide {
  width: 36rem;
  height: 48rem;
}
.festival__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mission {
  margin-top: 14rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .mission {
    margin-top: 6.4rem;
  }
}
.mission .red_square {
  position: absolute;
  top: 10rem;
  right: 0;
  width: 70rem;
  height: 70rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(246, 131, 131, 0.6) 0%, rgba(229, 120, 73, 0.6) 100%);
  filter: blur(250px);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .mission .red_square {
    width: 100%;
    height: 30rem;
  }
}
.mission .red_icon {
  width: 57rem;
  height: 57rem;
  position: absolute;
  top: 16rem;
  right: 10rem;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .mission .red_icon {
    width: 9.8rem;
    height: 9.8rem;
    top: 21rem;
    right: auto;
    left: 1.2rem;
    transform: rotate(20deg);
  }
}
.mission .red_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mission .news_title {
  display: none;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .mission .news_title {
    margin-top: 6.4rem;
    padding: 0 var(--container-padding);
    display: block;
    text-align: right;
  }
}
.mission__description p {
  width: 96.6rem;
  margin-top: 6rem;
}
@media screen and (max-width: 768px) {
  .mission__description p {
    width: 100%;
    margin-top: 0;
  }
}
.mission__gallery {
  width: 100%;
  height: 111.4rem;
  border-top: 0.1rem solid var(--color-border-brown);
}
@media screen and (max-width: 768px) {
  .mission__gallery {
    height: 22rem;
  }
}
.mission__gallery__wrapper {
  margin-top: 14rem;
}
@media screen and (max-width: 768px) {
  .mission__gallery__wrapper {
    margin-top: 2rem;
  }
}
.mission__gallery .mission__element {
  width: 100%;
  height: 100%;
  position: relative;
}
.mission__gallery .mission__element__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.mission__gallery .mission__element__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission__gallery .mission__element__image::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.16%, #000000 95.74%);
  position: absolute;
  top: 0;
  left: 0;
}
.mission__gallery .mission__element__describe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14.6rem var(--container-padding);
}
@media screen and (max-width: 768px) {
  .mission__gallery .mission__element__describe {
    padding: 0 var(--container-padding) 1.9rem;
  }
}
@media screen and (max-width: 768px) {
  .mission__gallery .mission__element__describe h3 {
    display: none;
  }
}
.mission__gallery .mission__element__describe p {
  margin-top: 6rem;
  width: 105.5rem;
}
@media screen and (max-width: 768px) {
  .mission__gallery .mission__element__describe p {
    margin-top: 0;
    width: 24rem;
  }
}

.program {
  position: relative;
  padding-top: 30rem;
  padding-bottom: 10rem;
}
@media screen and (max-width: 768px) {
  .program {
    background: var(--color-black);
    padding: 6.4rem 0 0 0;
  }
}
.program__information h3 {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .program__information h3 {
    text-align: left;
  }
}
.program__information__row {
  margin-top: 8rem;
}
@media screen and (max-width: 768px) {
  .program__information__row {
    margin-top: 2.4rem;
  }
}
.program__information__row .program__header {
  width: 100%;
  height: 6.4rem;
}
@media screen and (max-width: 768px) {
  .program__information__row .program__header {
    height: 1.4rem;
  }
}
.program__information__row .program__header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.program__information__row .program__title {
  margin-top: 8rem;
  font-size: 9rem;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .program__information__row .program__title {
    font-size: 2.2rem;
    margin-top: 2.4rem;
  }
}
.program__information__row .program__description {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  .program__information__row .program__description {
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }
}
.program__information__row .program__list {
  margin-top: 4rem;
  padding-left: 10rem;
}
@media screen and (max-width: 768px) {
  .program__information__row .program__list {
    padding-left: 3.5rem;
    margin-top: 1.2rem;
  }
}
.program__information__row .program__list li {
  margin-top: 1.8rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .program__information__row .program__list li {
    margin-top: 0.1rem;
  }
}
.program__information__row .program__list li:before {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 50%;
  left: -3.2rem;
  margin-top: -1.2rem;
  border-radius: 50%;
  border: 0.1rem solid var(--color-border-brown);
}
@media screen and (max-width: 768px) {
  .program__information__row .program__list li:before {
    top: 50%;
    margin-top: -0.6rem;
    left: -1.6rem;
    width: 0.8rem;
    height: 0.8rem;
  }
}
.program__information__row .program__list li p {
  font-weight: 300;
}
.program__top_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 93.5rem;
  height: 35.1rem;
}
@media screen and (max-width: 768px) {
  .program__top_image {
    width: 16.7rem;
    height: 6.4rem;
    z-index: 1;
    left: auto;
    right: 0;
    top: -0.4rem;
  }
}
.program__top_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.program__bottom_image {
  position: absolute;
  bottom: 0;
  right: var(--container-padding);
  z-index: -1;
  width: 81rem;
  height: 34rem;
}
.program__bottom_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_festival {
  margin-top: 17rem;
  position: relative;
  background: url("/images/about_festival_bottom_bg.svg") center bottom no-repeat;
}
@media screen and (max-width: 768px) {
  .about_festival {
    margin-top: 5.3rem;
    background: none;
  }
}
.about_festival .top_left_bg {
  position: absolute;
  top: 0;
  right: 2.2rem;
  width: 57rem;
  height: 106rem;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .about_festival .top_left_bg {
    display: none;
  }
}
.about_festival .top_left_bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about_festival__description {
  padding-top: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .about_festival__description {
    position: static;
    padding: 0;
  }
}
.about_festival__description p {
  width: 86.6rem;
  margin-top: 6rem;
}
@media screen and (max-width: 768px) {
  .about_festival__description p {
    margin-top: 2rem;
    width: 100%;
  }
}
.about_festival .about_festival__images {
  padding-top: 25rem;
}
@media screen and (max-width: 768px) {
  .about_festival .about_festival__images {
    padding: 0;
    display: none;
  }
}
.about_festival .about_festival__images .images__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.about_festival .about_festival__images .images__wrapper img {
  border-radius: 6rem;
}
.about_festival .about_festival__images .images__wrapper__left {
  width: 82.6rem;
  padding-bottom: 15.4rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .about_festival .about_festival__images .images__wrapper__left {
    display: none;
  }
}
.about_festival .about_festival__images .images__wrapper__left img {
  width: 100%;
}
.about_festival .about_festival__images .images__wrapper__left::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 19.8rem;
  left: -6.45rem;
  width: 12.9rem;
  height: 42.8rem;
  background: url("/images/about_festival_left_decoration.svg");
}
.about_festival .about_festival__images .images__wrapper__right {
  width: 64.8rem;
}
.about_festival .about_festival__images .images__wrapper__right img:nth-child(1) {
  margin-bottom: 2.6rem;
}
.about_festival .about_festival__images .images__wrapper__right img {
  width: 100%;
}

.teams {
  margin-top: 16.8rem;
}
@media screen and (max-width: 768px) {
  .teams {
    margin-top: 3rem;
  }
}
.teams__border {
  width: 100%;
  height: 6.4rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 768px) {
  .teams__border {
    height: 1.4rem;
    margin-bottom: 3rem;
  }
}
.teams__border img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.teams__title {
  font-size: 9rem;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .teams__title {
    font-size: 2.2rem;
  }
}
.teams__elements {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .teams__elements {
    margin-top: 3rem;
  }
}
.teams__record {
  width: 31rem;
  margin-right: 10rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .teams__record {
    width: 8.9rem;
    margin-bottom: 3rem;
    margin-right: 2.8rem;
  }
}
@media screen and (max-width: 768px) {
  .teams__record:nth-child(3n) {
    margin-right: 0;
  }
}
.teams__record:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .teams__record:nth-child(4n) {
    margin-right: 2.8rem;
  }
}
.teams__record .images {
  width: 100%;
  height: 31rem;
  overflow: hidden;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .teams__record .images {
    height: 8.9rem;
  }
}
.teams__record .images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.teams__record .title {
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 1.3rem;
}
@media screen and (max-width: 768px) {
  .teams__record .title {
    font-size: 1.1rem;
  }
}
.teams__record .description {
  font-size: 2.9rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-orange);
}
@media screen and (max-width: 768px) {
  .teams__record .description {
    font-size: 0.9rem;
  }
}

.program_festival {
  margin-top: 22rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .program_festival {
    margin-top: 0;
  }
}
.program_festival .red_icon {
  width: 57rem;
  height: 57rem;
  position: absolute;
  top: -12.5rem;
  left: -6rem;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .program_festival .red_icon {
    display: none;
  }
}
.program_festival .red_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.program_festival__border {
  width: 100%;
  height: 6.4rem;
}
@media screen and (max-width: 768px) {
  .program_festival__border {
    height: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.program_festival__border img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.program_festival__description h3 {
  text-align: right;
  margin-bottom: 6.2rem;
}
@media screen and (max-width: 768px) {
  .program_festival__description h3 {
    display: none;
  }
}
.program_festival__element {
  margin-bottom: 5.2rem;
}
@media screen and (max-width: 768px) {
  .program_festival__element {
    margin-bottom: 0;
  }
}
.program_festival__element .element {
  margin-bottom: 7.2rem;
}
@media screen and (max-width: 768px) {
  .program_festival__element .element {
    margin-bottom: 0;
  }
}
.program_festival__element .element__title {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  margin-top: 7.2rem;
}
@media screen and (max-width: 768px) {
  .program_festival__element .element__title {
    font-size: 2.2rem;
    margin-top: 0;
  }
}
.program_festival__element .element__description {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 2.5rem;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .program_festival__element .element__description {
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }
}
.program_festival .movies_wrapper,
.program_festival .music_wrapper {
  padding-left: var(--container-padding);
  margin-bottom: 7.2rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .program_festival .movies_wrapper,
  .program_festival .music_wrapper {
    display: none;
  }
}
.program_festival .movies_wrapper .swiper-pagination,
.program_festival .music_wrapper .swiper-pagination {
  bottom: -5rem;
}
.program_festival .movies_wrapper .swiper-pagination .swiper-pagination-bullet-active,
.program_festival .music_wrapper .swiper-pagination .swiper-pagination-bullet-active {
  background: #F39C11;
}
.program_festival .movies_wrapper .swiper-pagination .swiper-pagination-bullet,
.program_festival .music_wrapper .swiper-pagination .swiper-pagination-bullet {
  border: 0.2rem solid #F3DE66;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
}
.program_festival .photos_wrapper {
  margin-bottom: 7.2rem;
}
@media screen and (max-width: 768px) {
  .program_festival .photos_wrapper {
    display: none;
  }
}
.program_festival__gallery.movies .swiper-slide {
  width: 30rem;
  height: 44.4rem;
}
.program_festival__gallery.movies .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.program_festival__gallery.music .swiper-slide {
  width: 40.3rem;
  height: 40rem;
}
.program_festival__gallery.music .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.program_festival__gallery.photos .swiper-slide {
  width: 137.2rem;
  height: 116.1rem;
}
.program_festival__gallery.photos .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6rem;
}

.invite {
  padding-top: 19rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .invite {
    padding: 0;
  }
}
.invite__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 3.7rem;
}
@media screen and (max-width: 768px) {
  .invite__wrapper {
    padding: 0;
    flex-direction: column;
  }
}
.invite__text_how {
  padding-top: 2.7rem;
  width: 82rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .invite__text_how {
    width: 100%;
    padding: 0;
  }
}
.invite__text_how p:nth-child(1) {
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
.invite__text_how p:nth-child(2) {
  margin-top: 5rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .invite__text_how p:nth-child(2) {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
}
.invite__text_how p:nth-child(2) span {
  color: #F39C11;
}
.invite__form {
  width: 66.7rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .invite__form {
    width: auto;
    margin-top: 4.2rem;
    margin-bottom: 3rem;
  }
}
.invite__form form {
  margin-bottom: 1.6rem;
}

/*# sourceMappingURL=main.css.map */
